<div *ngIf="appliance.length > 0; else elseBlock">

<div *ngFor="let a of appliance"><p>{{a.name}}</p> <button type="button" class="btn btn-danger btn-just-icon" (click)="unplug(a)"><i class="ti-plug"></i></button> </div>

</div>

<ng-template #elseBlock>

    <select [(ngModel)]="selAppliance">
        <option *ngFor="let appliance of appliances" [ngValue]="appliance">{{appliance.name}}</option>
        <option selected><p *ngFor="let a of appliance">{{a.name}}</p></option>
       
        </select>
        <button type="button" class="btn btn-info btn-just-icon" (click)="updateAppliance(appliance)"><i class="ti-plug"></i></button>
 </ng-template>