
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Categorias</h4>
                    <p class="category">Lista de Categorias disponibles</p>
                    <button type="button" class="btn btn-default btn-circle" *ngIf="categories">{{ categories.length }}</button>
                    <button type="button" class="btn btn-sm btn-primary btn-create" (click)="modal.open()"> Crear
                        </button>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>
                              Nombre
                            </th>
                            <th>
                              Electrodomésticos
                            </th> 
                            <th>
                              Agregar
                            </th>
                            <th>
                              Editar
                            </th> 
                            <th>
                              Eliminar
                            </th>     
                            <th>
                              Apagar/Encender
                            </th> 
                                             
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let categorie of categories" [class.selected]="categorie === selectedCategorie">
                              <td>
                                {{categorie.name}}
                              </td>

                              <td>
                                  <button type="button" class="btn btn-info btn-just-icon" (click)="guardarDatos(categorie)" (click)="applianceModal.open(categorie)" (click)="loadMyAppliances(categorie)"><i class="ti-desktop"></i></button>
                                
                            </td>  

                            <td>
                                <button type="button" class="btn btn-info btn-just-icon" (click)="guardarDatos(categorie)" (click)="applianceBModal.open(categorie)" (click)="loadMyAppliancesB()"><i class="ti-plus"></i></button>
                            </td>
                              
                                  <td>
                                       

                                        <button type="button" class="btn btn-info btn-just-icon" (click)="guardarDatos(categorie)" (click)="updateModal.open(categorie)"><i class="ti-settings"></i></button>
                                        
                                    </td>  
                                    <td> 
                                     
                                      <button type="button" class="btn btn-danger btn-just-icon" (click)="deleteCategorie(categorie)"><i class="ti-trash"></i></button>
                                    </td>      
                                    <td> 
                                      <div class="options">
                                          <button class="btn btn btn-just-icon" (click)="turnOff(categorie)"><i class="ti-bolt"></i></button>
                                          <button class="btn btn-warning btn-just-icon" (click)="turnOn(categorie)"><i class="ti-bolt"></i></button>
                                      </div>
                                    </td>                     
                                       
                            </tr>
                        </tbody>
                    </table>
  
                </div>
            </div>
        </div>    
    </div>
  </div>
  

   
  
 <bs-modal #modal>
        <form (ngSubmit)="createCategorie(categorie)" #postForm="ngForm">
          <bs-modal-header [showDismiss]="true">
              <h4 class="modal-title"> Ingrese la información de la Categoría</h4>
          </bs-modal-header>
          <bs-modal-body>
             <div class="form-group">
                 <label for="name">
                   Nombre
                 </label>
                 <input required id="name" type="text" class="form-control" placeholder="Ingrese el nombre aqui" #name='ngModel' [(ngModel)]="categorie.name" name='name'>
               </div>
       
          </bs-modal-body>
          <bs-modal-footer>
             <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">
                 Cancelar
               </button>
               <button type="submit" class="btn btn-primary" id="setPosition" (click)="loadCategories()" (click)="modal.close()">
                 Guardar
               </button>
          </bs-modal-footer>
        </form>
      </bs-modal>

      
 <bs-modal #updateModal>
        <form (ngSubmit)="updateCategorie(categorie)" #postForm="ngForm">
          <bs-modal-header [showDismiss]="true">
            <h4 class="modal-title">
                Ingrese la información de la Categoría
            </h4>
          </bs-modal-header>
          <bs-modal-body>
              <div class="form-group">
                  <label for="name">
                    Nombre
                  </label>
                  <input required id="name" type="text" class="form-control" value={{tempData.name}} #name='ngModel' [(ngModel)]="categorie.name" name='name'>
                </div>
        
               
          </bs-modal-body>
          <bs-modal-footer>
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="updateModal.dismiss()">
                  Cancelar
                </button>
                <button type="submit" class="btn btn-primary" id="setPosition" (click)="loadCategories()" (click)="updateModal.close()">
                  Guardar
                </button>
          </bs-modal-footer>
        </form>
     </bs-modal>


     <bs-modal #applianceModal>
      
        <bs-modal-header [showDismiss]="true">
          <h4 class="modal-title">
              Electrodomésticos
          </h4>
          
        </bs-modal-header>
        <bs-modal-body>

            <div *ngFor="let appliance of appliances"><p style="position:absolute">{{appliance.name}}</p> <button style="margin-left:43%" type="button" class="btn btn-danger btn-just-icon" (click)="deleteAppliance(appliance)"><i class="ti-close"></i></button> </div>
            
          
             
        </bs-modal-body>
        <bs-modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="applianceModal.dismiss()">
                Cerrar
              </button>
              
        </bs-modal-footer>
      
   </bs-modal>


   <bs-modal #applianceBModal>
    
      <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">
            Agregar Electrodomésticos
        </h4>
        
      </bs-modal-header>
      <bs-modal-body>
        <h5>Electrodomésticos Disponibles</h5>
          
        <div *ngFor="let appliance of appliancesB"><p style="position:absolute">{{appliance.name}}</p> <button style="margin-left:43%" type="button" class="btn btn-info btn-just-icon" (click)="updateAppliance(appliance)"><i class="ti-plus"></i></button> </div>

        
           
      </bs-modal-body>
      <bs-modal-footer>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="applianceBModal.dismiss()">
              Cerrar
            </button>
            
      </bs-modal-footer>
    
 </bs-modal>
    
 
    
    
    