<!-- <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>

    </ul>

  </div>
  <form class="form-inline my-2 my-lg-0">
    <app-auth-links></app-auth-links> 
  </form>
</nav> -->

<!--  
<router-outlet></router-outlet> -->

<div class="wrapper">
  <div class="sidebar" data-background-color="black" data-active-color="danger">
      <sidebar-cmp ></sidebar-cmp>
  </div>
  <div class="main-panel" [style.width]="getStyle()" style="transition: width 2s;"  (document:resize)="onResize($event)">
      <app-auth-links></app-auth-links>
      <navbar-cmp></navbar-cmp>
      <div class="content">
          <router-outlet></router-outlet>
      </div>
  </div>

  

</div>


