



<div *ngIf="room" class="container-fluid">
    
    
  
 
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="header">
                  <h2>Habitación: {{room.name}}</h2>
                  
                  <p class="category">Tomas disponibles para esta habitación</p>
                  
                  <button type="button" class="btn btn-sm btn-primary btn-create" (click)="createOutlet(room)">Crear Toma</button>
              </div>
              <div class="content table-responsive table-full-width">
                  <table class="table table-striped">
                      <thead>
                        <tr>
                         
                          <th>
                              Toma
                            </th>
                          <th>
                            Turn
                          </th> 
                          <th>
                              Estado
                            </th> 
                            <th>
                              Eliminar Toma
                            </th>  
                            <th>
                                Electrodoméstico
                            </th> 
                                              
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let outlet of outlets">
                            
                            <td>
                                {{outlet.id}}
                              </td>
                            <td>
                            <div *ngIf="outlet.estate">
                              <button class="btn btn-sm btn-primary btn-create" (click)="turnOutlet(outlet)">Turn Off</button>
                            </div> 
                            <div *ngIf="!outlet.estate">
                                <button class="btn btn-sm btn-primary btn-create" (click)="turnOutlet(outlet)">Turn On</button>
                              </div> 
                            </td>  
                            <td>
                                <div *ngIf="outlet.estate">
                                  encendido
                                </div>
                                <div *ngIf="!outlet.estate">
                                    apagado
                                </div>
                            </td>  
                            <td>
                                <div class="options">
                                    <a class="ti-trash" (click)="deleteOutlet(outlet)" (click)="loadOutlets(room)"></a>
                                </div>
                            </td> 
                            
                            <td>
                                    <app-outlet-details [outlet]="outlet"></app-outlet-details>
                            </td>                    
                          </tr>
                      </tbody>
                  </table>

              </div>
          </div>
      </div>    
  </div>
</div>