.options:hover{
    cursor: pointer;
  }

  .test1 {
    
        text-align: center;
        font-size: 5em;
        line-height: 0;
        padding-top: 40%;
    
      }
      
      .test1 a {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
    
      }
      
       .test1 a {
        color: #fff;
    
        -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
        -moz-animation: neon3 1.5s ease-in-out infinite alternate;
        animation: neon3 1.5s ease-iSn-out infinite alternate;
      }

      @-webkit-keyframes neon3 {
        from {
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
        }
        to {
          text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
        }
      }
      