
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Electrodomésticos</h4>
                    <p class="category">Lista de Electrodomésticos disponibles</p>
                    <button type="button" class="btn btn-default btn-circle" *ngIf="appliances">{{ appliances.length }}</button>
                    <button type="button" class="btn btn-sm btn-primary btn-create" (click)="modal.open()"> Crear
                        </button>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>
                              Nombre
                            </th>
                            <th>
                              Consumo W/h
                            </th>
                            <th>
                              Estado
                            </th>
                            <th>
                              Categoria
                            </th>
                            <th>
                              Editar
                            </th> 
                            <th>
                              Eliminar
                            </th>     
                                             
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let appliance of appliances" [class.selected]="appliance === selectedAppliance">
                              <td>
                                {{appliance.name}}
                              </td>
                              <td>
                                {{appliance.electricity_use}}
                              </td>
                              <td>
                                <div *ngIf="appliance.outlet_id">
                                  Conectado
                                </div>
                                <div *ngIf="!appliance.outlet_id">
                                    Desconectado
                                </div>
                              </td>
                               <td>
                                <app-appliance-details [appliance]="appliance"></app-appliance-details>
                              </td>
                              <td>
                                        <div class="options">
                                            <a class="ti-settings" (click)="guardarDatos(appliance)" (click)="updateModal.open(appliance)"></a>
                                        </div>
                                        
                              </td>  
                              <td> 
                                      <div class="options">
                                          <a class="ti-trash" (click)="deleteAppliance(appliance)"></a>
                                      </div>
                              </td>                          
                                       
                            </tr>
                        </tbody>
                    </table>
  
                </div>
            </div>
        </div>    
    </div>
  </div>
  

   
  
 <bs-modal #modal>
        <form (ngSubmit)="createAppliance(appliance)" #postForm="ngForm">
          <bs-modal-header [showDismiss]="true">
              <h4 class="modal-title"> Ingrese la información del Electrodoméstico</h4>
          </bs-modal-header>
          <bs-modal-body>
             <div class="form-group">
                 <label for="name">
                   Nombre
                 </label>
                 <input required id="name" type="text" class="form-control" placeholder="Ingrese el nombre aqui" #name='ngModel' [(ngModel)]="appliance.name" name='name'>
               </div>
       
               <div class="form-group">
                   <label for="electricity_use">
                       Consumo W/h
                   </label>
                   <input required id="electricity_use" type="number" class="form-control" placeholder="Ingrese el domicilio" #electricity_use='ngModel' [(ngModel)]="appliance.electricity_use" name='electricity_use'>
               </div>
              <div class="form-group">
                <label for="categorie_name">
                  Categoria
                </label>
                  <input required id="categorie_name" type="string" class="form-control" placeholder="Ingrese la categoria" #categorie_name='ngModel' [(ngModel)]="appliance.categorie_name" name='categorie_name'>
              </div>
          </bs-modal-body>
          <bs-modal-footer>
             <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">
                 Cancelar
               </button>
               <button type="submit" class="btn btn-primary" id="setPosition" (click)="loadAppliances()" (click)="modal.close()">
                 Guardar
               </button>
          </bs-modal-footer>
        </form>
      </bs-modal>

      
 <bs-modal #updateModal>
        <form (ngSubmit)="updateAppliance(appliance)" #postForm="ngForm">
          <bs-modal-header [showDismiss]="true">
            <h4 class="modal-title">
                Ingrese la información de la Habitación
            </h4>
          </bs-modal-header>
          <bs-modal-body>
              <div class="form-group">
                  <label for="name">
                    Nombre
                  </label>
                  <input required id="name" type="text" class="form-control" value={{tempData.name}} #name='ngModel' [(ngModel)]="appliance.name" name='name'>
                </div>
        
                <div class="form-group">
                    <label for="electricity_use">
                            Consumo W/h
                    </label>
                    <input required id="electricity_use" type="number" class="form-control" value={{tempData.electricity_use}} #electricity_use='ngModel' [(ngModel)]="appliance.electricity_use" name='electricity_use'>
                </div>
              <div class="form-group">
                <label for="categorie_name">
                  Categoria
                </label>
                  <input required id="categorie_name" type="string" class="form-control" placeholder="Ingrese la categoria" #categorie_name='ngModel' [(ngModel)]="appliance.categorie_name" name='categorie_name'>
              </div>
          </bs-modal-body>
          <bs-modal-footer>
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="updateModal.dismiss()">
                  Cancelar
                </button>
                <button type="submit" class="btn btn-primary" id="setPosition" (click)="loadAppliances()" (click)="updateModal.close()">
                  Guardar
                </button>
          </bs-modal-footer>
        </form>
     </bs-modal>
    
    
    
    