
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="header">
                  <h4 class="title">Habitaciones</h4>
                  <p class="category">Lista de habitaciones disponibles</p>
              </div>
              <div class="content table-responsive table-full-width">
                  <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            ID
                          </th>
                          <th>
                            Nombre
                          </th>                          
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let room of rooms">
                            <td>
                              {{room.id}}
                            </td>
                            <td>
                              {{room.name}}
                            </td>                            
                          </tr>
                      </tbody>
                  </table>

              </div>
          </div>
      </div>    
  </div>
</div>

