
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="header">
                  <h4 class="title">Habitaciones</h4>
                  <p class="category">Lista de habitaciones disponibles</p>
                  <button type="button" class="btn btn-default btn-circle" *ngIf="rooms">{{ rooms.length }}</button>
                  <button type="button" class="btn btn-sm btn-primary btn-create" (click)="modal.open()">
                    Crear
                  </button>
              </div>
              <div class="content table-responsive table-full-width">
                  <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Domicilio
                          </th>
                          <th>
                            Nombre
                          </th>                          
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let room of rooms">
                            <td>
                              {{room.domicile_id}}
                            </td>
                            <td>
                              {{room.name}}
                            </td>                            
                          </tr>
                      </tbody>
                  </table>

              </div>
          </div>
      </div>    
  </div>
</div>


<bs-modal #modal>
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">I'm a modal!</h4>
    </bs-modal-header>
    <bs-modal-body>
        Hello World!
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="true"></bs-modal-footer>
</bs-modal>




<div class="container-fluid">
        <h4>
                Ingrese el nombre de la Habitación
              </h4>
                <form (ngSubmit)="createRoom(room)" #postForm="ngForm">
                        <fieldset>   
                         
                         
                       
                  
                       
                  
                          <div class="form-group">
                            <label for="name">
                              Nombre
                            </label>
                            <input required id="name" type="text" class="form-control" placeholder="Ingrese el nombre aqui" [(ngModel)]="room.name" name='name'>
                          </div>
                  
                          <div class="form-group">
                              <label for="domicile_id">
                                  Domicilio
                              </label>
                              <input required id="domicile_id" type="number" class="form-control" placeholder="Ingrese el domicilio" [(ngModel)]="room.domicile_id" name='domicile_id'>
                          </div>
                  
                          
                       
                          <div class="form-group">
                       
                          <button type="submit" class="btn btn-success" [disabled]="!postForm.form.valid" id="setGeneral" (click)="loadRooms()">
                                Guardar
                              </button>
                          </div>
                       
                        </fieldset>
                      </form>
              
            
        </div>
